# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
node_modules_old

# Build
dist
dist-ssr
*.local

# Tauri
src-tauri/target

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
